* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    transition: all 0.3s;
}

:root {
    --warna1: #008CBA;
    --warna2: #4e4e4e;
}

body {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

.btnku {
    border-radius: 0.5em;
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btnku:hover {
    box-shadow: 8px 8px #a5beec;
    transition: .3s;
}

.btnku1 {
    background-color: white;
    color: black;
}

.btnku1:hover {
    background-color: #46879c;
    color: white;


}

.btnku2 {
    background-color: var(--warna2);
    color: white;
}

.btnku2:hover {
    background-color: #008CBA;
    color: white;
}

nav {
    transition: all 0.5s;
    overflow: hidden;
    width: 100%;
    top: 0;
    z-index: 99;
}

.navbar .navbar-nav .nav-link {
    font-size: 1.1em;
    position: relative;
    margin: 0px 20px;
    padding: 10px 0;
}

.navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #496c8e;
    border-radius: 15px;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
}

.navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
}

section {
    padding-top: 0.6rem;
}

section:nth-child(odd) {
    background-color: #2b2b2b;
}

section:nth-child(even) {
    background-color: #202020;
}

.home {
    color: #fff;
    min-height: 100vh;
    padding-top: 10rem;
    align-items: center;
    background-image: url(/assets/img/hero.jpg);
    background-position: -100px 0;

}

.home .content {
    position: relative;
    z-index: 1;

}

.home .content img {
    width: 300px;
}


.about {
    color: #fff;
    background-color: aqua;

}

.about .container {
    padding: 40px;
}

.about .container .about-image img {
    width: 400px;
    border-radius: 30px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
}

.about .container .about-image img:hover {
    border-radius: 30px;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}



.about .container .about-text p {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: none;
    text-align: justify;
}

.about .container .about-text .btnku1:hover i {
    transform: translateX(5px);
}

.skills {
    color: #fff;
}

.skills .container .tools {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}

.skills .container .skill {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background-color: var(--warna2);
    border-radius: 30px;
    transition: 0.2s;
}

.skills .container .skill:hover {
    transform: translateY(-10px);
    box-shadow: 10px 15px 37px -2px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 10px 15px 37px -2px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 10px 15px 37px -2px rgba(0, 0, 0, 0.47);
}

.skills .container .skill .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.skills .container .skill img {
    width: 70px;
    height: 70px;
}

.skills .container .skill span {
    font-size: 1rem;
    font-weight: 500;
}


/* mobile scale */
@media (min-width: 320px) and (max-width: 990px) {
    .navbar-nav {
        margin: 15px;
        padding: 10px;
        border-radius: 10px;
        background-color: #191A19;

    }

    .about .container .about-image img {
        width: 300px;
        margin-bottom: 25px;
    }

    .home .content img {
        width: 55%;
    }

    .about .container .about-text {
        width: 320px;
    }

    .skills .container {
        padding: 0;
        margin: 0;
    }

    .skills .container .row {
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
        gap: 1rem;
    }

    .skills .container {
        margin-top: 5px;
        width: 100%;
    }


}

/* Tablet Scale */
@media (min-width: 990px) and (max-width: 1200px) {
    .skills .container .row {
        grid-template-columns: repeat(4, 1fr);
    }

}

/* dekstop scale */
@media (min-width: 1281px) {}