
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  background-color: #eeeeee;
}
.header{
  position: relative;
  display: flex;
  width: 100%;
  height: 4em;
  background-color: #002147;
  
}

.header .header-contact .contact-link {
 
  padding: 20px;
  display: flex;
  margin-left: 70px;
  font-size: 15px;
  color: #f2f2f2;
  line-height: 1;
}
.header .header-contact .contact-link i{
 color: #fdc800;
}
.header .header-contact .contact-link p{
  padding-left: 5px;
}
nav{
  
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  height: 75px;
  background: #f2f2f2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;

}
.navbar .logo a img{
  font-size: 30px;
  width: 170px;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}

nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}


nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #002147;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .jrsn-arrow,
.links li:hover .prgm-arrow,
.links li:hover .glri-arrow{
  transform: rotate(180deg);
  }
   
   
  /* hover all */
  nav .navbar .links li .link-nav:hover,
  nav .navbar .links li:hover .link-nav-sub1,
  nav .navbar .links li:hover .link-nav-sub2,
  nav .navbar .links li:hover .link-nav-sub3,
  nav .navbar .links li:hover .jrsn-arrow,
  nav .navbar .links li:hover .prgm-arrow,
  nav .navbar .links li:hover .glri-arrow,
  nav .navbar .links li .sub-menu li a:hover{
  color: #fdc800;
  } 
  /* hover arrow*/
  .navbar .nav-links .links .more1:hover .more-arrow,
  .navbar .nav-links .links .more2:hover .more-arrow2,
  .navbar .nav-links .links .more3:hover .more-arrow3{
    color: #fdc800;
  }
 
nav .navbar .links li .arrow{
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #002147;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #002147;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
  display: none;
  z-index: 2;
  
}


nav .navbar .links li:hover .link-sub-menu1,
nav .navbar .links li:hover .link-sub-menu2,
nav .navbar .links li:hover .link-sub-menu3{
    display: block;
    
   

}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow,
.navbar .links li .sub-menu .more-arrow2,
.navbar .links li .sub-menu .more-arrow3{
  line-height: 40px;
  visibility: hidden;
}


.links li .sub-menu .more1 .more-sub-menu1,
.links li .sub-menu .more2 .more-sub-menu2,
.links li .sub-menu .more3 .more-sub-menu3{
  position: absolute;
  color: #fff;
  margin-left: 5px;
  top: 0;
  left: 100%;
  border-radius: 0 10px 10px 0;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more1:hover .more-sub-menu1,
.links li .sub-menu .more2:hover .more-sub-menu2,
.links li .sub-menu .more3:hover .more-sub-menu3{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}

.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
  color: #002147;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box i:hover{
  color: #fdc800;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #002147;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.7s ease;
  z-index: 1;
 
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #002147;
  z-index: 1;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #002147;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
  
  
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
.navbar .nav-links .links #jrsn-show:checked ~ ul,
   .navbar .nav-links .links #prgm-show:checked ~ ul,
   .navbar .nav-links .links #glri-show:checked ~ ul{
    max-height: 100vh;
  }


  /* slider */

.slide:after{
  content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to right, #002147b4, #fdc60088);
    position: absolute;
    bottom: 0;
  
}
.slider .slide h2{
  display: block;
  color: #fff;
  text-align: center;
  font-weight: bold;
  
}
.slider .carousel-inner{
  height: auto;
}
.slider .carousel-inner img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-size: contain;
  background-position: center center;
  height: auto;
  /*width: ;*/
  
  
}
.slider .carousel-inner div {
  height: 50%;
  margin-bottom: auto;
}

.entry-content{
  margin: auto;
  padding: 2em;
  width: 75%;
  background-color: transparent;
  
}


.entry-content .adivisor-text .div-kepsek img{
  width: 15em;
  float: left;
  padding-right: 1.5em;
  margin: 5px;
  border-left: 8px solid #fdc800;
}
.entry-content .adivisor-text .div-kepsek .text-in{
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.content-1{
  margin: auto;
  padding: 2em;
  width: 75%;
  background-color: transparent;
}
.content-1 .about-sekolah img{
  width: 30em;
  margin-left: 1em;
  margin-bottom: 2em;
  margin-top: 20px;
  float: right;
  border-right: 8px solid #fdc800;
  
}
.visi-misi{
  width: 75%;
  background-color: #fff;
  margin: auto;
  border-left:  5px solid #fdc800;
  
}
.visi-misi .visi-misi-heading{
  text-align: center;
  padding-top: 2em;
  color: #002147;
}
.visi-misi .visi , .visi-misi .misi{
  margin: 2em;
  padding-bottom: 1.5em;
 
}
.visi-misi .misi .ul-num{
  list-style-type: decimal;
  margin-left: 3em;
}
.visi-misi .misi .ul-num ul{
  list-style-type: initial;
  margin-left: 1em;
}
.visi-misi .misi .ul-num{
  line-height: 2em;

}
.container-jrsn{
  width: 100%;
  background-color: #002147;
  overflow: auto;
 
}
.container-jrsn .main-jrsn .jrsn-pg{
  float: left;
  
  
}
.container-jrsn .section-title{
  text-align: center;
  color: #f2f2f2;
  padding: 2em;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
.container-jrsn{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}




.floatbox {
  display: block;
  box-sizing: border-box;
  margin: 0px -20px;
  margin-left: 5em;
  margin-right: 5em;
}

.floatbox::after {
  clear: both;
  content: '';
  display: block;
}

.item {
  float: left;
  box-sizing: border-box;
  width: 50%;
  margin-bottom: 39px;
  padding: 0px 20px;
}

.item:nth-child(2n + 1) {
  clear: both;
}

.content {
  color: #242424;
  background-color: #f2f2f2;
  font-weight: 600;
  text-align: left;
  border-radius: 9px;
  width: 35em;

}
.content .courses-img img{
  width: 35em;
  border-radius: 7px;
}
.content .courses-content{
  padding: 1em;
  
}
.content .courses-content .courses-heading h1 a{
  font-size: 25px;
  color: #002147;
  text-decoration: none;
  transition: all 0.7s ease;

}
.content .courses-content .courses-heading h1 a:hover{
  color: #fdc800;
  text-decoration: none;
}
.content .courses-content .courses-li li{
  list-style-type: initial;
}

/* Infomasi Infokom*/
.main-info{
  background-color: #eeeeee;
}
.floatbox2 {
  display: block;
  box-sizing: border-box;
  margin: 0px -4.5px;
}

.floatbox2::after {
  clear: both;
  content: '';
  display: block;
}

.item2 {
  float: left;
  box-sizing: border-box;
  width: 25%;
  margin-bottom: 27px;
  padding: 0px 4.5px;
  
}

.item2:nth-child(4n + 1) {
  clear: both;
}

.content2 {
  color: #242424;
  background-color: #fff;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  border-radius: 9px;
}









/* ================================================== */




/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 1199px) {
	

	

	
}

@media (max-width: 991px) {
	nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }

	
	
		
}

@media (max-width: 767px) {
	
	
		
}


@media (max-width: 640px){
	

	

}


@media (max-width: 480px) {
  .header{
    height: 2em;
  }
  .header .header-contact .contact-link{
    margin-left: 7px;
    font-size: 12px;
    padding: 10px;
  }
  
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 90%;
    width: 100%;
    background:  #fff;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
    overflow: scroll;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .nav-links .sidebar-logo img{
    width: 160px;
  }


  .sidebar-logo .logo-name{
    font-size: 30px;
    color: #fff;
  }
    .sidebar-logo  i{
      font-size: 40px;
      color: #002147;
    }
    .navbar .bx-menu{
      font-size: 30px;
      color: #002147;
    }
    .navbar .search-box i{
      font-size: 25px;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
   
  }
  
nav .navbar .links li .sub-menu{
 
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
  color: #002147;
  background-color: #f2f2f2;
}
.navbar .links li .sub-menu a{
  color: #002147;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;
  

}

.links li:hover .jrsn-arrow,
.links li:hover .prgm-arrow,
.links li:hover .glri-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu1,
  .navbar .links li .sub-menu .more-sub-menu2,
  .navbar .links li .sub-menu .more-sub-menu3{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-arrow,
  .navbar .links li .sub-menu .more-arrow2,
  .navbar .links li .sub-menu .more-arrow3{
    visibility: visible;
  }
  

  .links li .sub-menu .more1:hover .more-sub-menu1,
  .links li .sub-menu .more2:hover .more-sub-menu2,
  .links li .sub-menu .more3:hover .more-sub-menu3{
    display: none;
  }
  nav .navbar .links li:hover .link-sub-menu1,
  nav .navbar .links li:hover .link-sub-menu2,
  nav .navbar .links li:hover .link-sub-menu3{
    display: none;
  }
 


.navbar .nav-links.show1 .links .link-sub-menu1,
  .navbar .nav-links.show2 .links .link-sub-menu2,
  .navbar .nav-links.show3 .links .link-sub-menu3,
  .navbar .nav-links.show-more1 .links .more1 .more-sub-menu1,
  .navbar .nav-links.show-more2 .links .more2 .more-sub-menu2,
  .navbar .nav-links.show-more3 .links .more3 .more-sub-menu3{
      display: block;
    }
    .navbar .nav-links.show1 .links .jrsn-arrow,
    .navbar .nav-links.show2 .links .prgm-arrow,
    .navbar .nav-links.show3 .links .glri-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show-more1 .links .more-arrow,
    .navbar .nav-links.show-more2 .links .more-arrow2,
    .navbar .nav-links.show-more3 .links .more-arrow3{
      transform: rotate(90deg);
    }
    
    .slider .slide{
      height: auto;
      
      
     
    }
    .slider .carousel-inner img{
     width: 100%;
     height: 100%;
    
    }
    .entry-content{
      background-color: transparent; 
      width: 100%;
      overflow: auto;
    }
    
    .entry-content span h2{
      font-size: 30px;
      

    }
    .entry-content .adivisor-text .div-kepsek .info-kepsek img{
      width: 20em;
      float: none;
      border-radius: 4px;
    }
    .content-1{
      background-color: transparent;
      overflow: auto;
      width: 100%;
      

    }
    .content-1 .about-sekolah img{
      width: 20em;
      border-radius: 4px;
      
      
      border-right: 8px solid #fdc800;
      
    }
    .content-1 .about-sekolah h1{
      font-size: 1.5em;
    }

 

	
	
}



@media (max-width: 320px){
	nav .navbar .nav-links{
    max-width: 100%;
  }
	
}

